{% extends "base.html" %}
{% load i18n %}


{% block main %}
{% blocktrans %}

    <b>BUY NOW SPECIALS</b>
    <p>
    <table><tr>
    <td style="text-align: center;" ><a href="http://107.170.60.37:8000/shop/product/ps-6580f2/" ><img src="http://107.170.60.37:8000/static/media/product/PWRSC-PS-65801.JPG" width="150" ><br>PS-6580F2<br>Powersonic</a></td>
    <td style="text-align: center;" ><a href="http://107.170.60.37:8000/shop/product/ps-6580f2/" ><img src="http://107.170.60.37:8000/static/media/product/PWRSC-PS-65801.JPG" width="150" ><br>PS-6580F2<br>Powersonic</a></td>
    <td style="text-align: center;" ><a href="http://107.170.60.37:8000/shop/product/ps-6580f2/" ><img src="http://107.170.60.37:8000/static/media/product/PWRSC-PS-65801.JPG" width="150" ><br>PS-6580F2<br>Powersonic</a></td>
    </tr></table>
    </p>

    <b>BUY NOW view our In-House Inventory Available Today</b>
    <p>
    <table><tr>
    <td style="text-align: center;" ><a href="http://107.170.60.37:8000/shop/product/ps-6580f2/" ><img src="http://107.170.60.37:8000/static/media/product/PWRSC-PS-65801.JPG" width="150" ><br>PS-6580F2<br>Powersonic</a></td>
    <td style="text-align: center;" ><a href="http://107.170.60.37:8000/shop/product/ps-6580f2/" ><img src="http://107.170.60.37:8000/static/media/product/PWRSC-PS-65801.JPG" width="150" ><br>PS-6580F2<br>Powersonic</a></td>
    <td style="text-align: center;" ><a href="http://107.170.60.37:8000/shop/product/ps-6580f2/" ><img src="http://107.170.60.37:8000/static/media/product/PWRSC-PS-65801.JPG" width="150" ><br>PS-6580F2<br>Powersonic</a></td>
    </tr></table>
    </p>
<!--
<ul>
    <li><a href="/admin/">Log in to the admin interface</a></li> test
    <li><a href="http://mezzanine.jupo.org/docs/content-architecture.html">Creating custom page types</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/frequently-asked-questions.html#templates">Modifying HTML templates</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/frequently-asked-questions.html#why-isn-t-the-homepage-a-page-object-i-can-edit-via-the-admin">Changing this homepage</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/frequently-asked-questions.html">Other frequently asked questions</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/configuration.html#default-settings">Full list of settings</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/deployment.html">Deploying to a production server</a></li>
</ul>
-->

{% endblocktrans %}
{% endblock %}
